body {
    background-color: black;
}

#command {
    color: blue;
    font-weight: 900;
}

#text {
    color: white;
    font-weight: bold;
}

#centered-text {
    color: white;
    font-weight: bold;
    text-align: center;
}

#button {
    color: black;
    border: 5px solid;
    border-color: white;
    border-radius: 5px;
}

#tag {
    color: cyan;
    font-weight: bolder;
}

#yellow {
    color: yellow;
    font-weight: bolder;
}

#grey {
    color: grey;
    font-weight: bolder;
}

#python {
    color: blue;
    background-color: yellow;
    font-weight: bolder;
    border: 3px solid;
    border-color: yellow;
    border-radius: 3px;
}

#purple {
    color: purple;
    font-size: bolder;
}

#line {
    background-color: white;
    border: 2px solid;
    border-color: white;
    border-radius: 2px;
}

#image {
    width: 25px;
    height: 25px;
}

#centered-button {
    text-align: center;
}
